<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>List Employee</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="productTable" class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Salary</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of employees">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.designation }}</td>
                        <td>{{ item.salary }}</td>
                        <td>{{ item.Action }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
