<form class="container w-50 mt-5 border shadow" >
    <div class="mb-3">
      <label for="exampleInputname" class="form-label">name</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputdesignation" class="form-label">designation</label>
      <input type="test" class="form-control" id="designation">
    </div>
    <div class="mb-3 ">
        <label for="exampleInputsalary" class="form-label">salary</label>
        <input type="test" class="form-control" id="salary">
    </div>
    <div class="mb-3 ">
       
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>